body{
 background:url("https://media.giphy.com/media/B4jfJqiIxvU08/giphy.gif");
 background-repeat: no-repeat;
 background-size:100%;
 padding: 0;
 margin: 0;
 
}
li{
    display: inline;
    list-style-type: none;
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-size:220%;
    color: aliceblue;
}

ul{
    display:block;
    /* background-color: rgb(102, 98, 98); */
}

li:hover{
    background-color: black;
    color:cyan;
}
.card-container {
    padding-left: 70px;
    margin: 0;
    margin-top: 25em;
    width: 94%;
    height: 70%;
    background-color: black;
    overflow: auto;
    padding-bottom: 10px;
}
.item_image {
    width: 200px;
    height: 250px;
}
.card {
    margin-top: 30px;
    width: 290px;
    float: left;
}

button{
    width: 200px;
}