body{
 background:url("https://media.giphy.com/media/B4jfJqiIxvU08/giphy.gif");
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size:100%;
 padding: 0;
 margin: 0;
}

.cbk:hover {
    background-color:#FFFF;
    background-repeat: no-repeat;
}

li{
    display: inline;
    list-style-type: none;
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-size:220%;
    color: aliceblue;
}

ul{
    display:block;
    /* background-color: rgb(102, 98, 98); */
    background: rgba(0, 0, 0, 0.4);
}

li:hover{
    background-color: black;
    color:cyan;
    border-radius: 50px;
}

.cbk{
    /* align-self: auto; */
    display: inline;
    margin-left:30%;
    /* align-self: center; */

    width: 100%;
}

.grid-container {
    display:grid;
    grid-template-columns: 25% 25% 25% 20%;
    grid-gap:20px;
    justify-items: center;  
        
}

.item {
    align-self: center;
    animation-name: initial1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction:alternate;
    background: rgba(0,0,0,0.5);
    background-size: contain;
    border-radius: 10px;

}
.item_image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#count{
     color:white;
     font-size: 150%;

     /* display: inline; */
}

.item_price{
    color: white;
    text-align: center;
    margin: 0px;
    background-color: brown;
}

.item_name{
    color: white;
    text-align: center;
    margin:2px;
    
}
.band1 {
    background: lightblue;
   
}
@keyframes initial1{
    0%{
        
        transform: scale(0.2);
        opacity:0.1;
    }
  
    100%{
            transform: scale(1);
            opacity:1;
    }
}

.item_image {
    width: 200px;
    height: 240px;
}
.card {
    margin-top: 30px;
    width: 290px;
    float: left;
}
span {
    padding-left: 10%;
    padding-right: 10%;
    width: 50%;
    text-align: center;
}

button{
    width: 34%;
    /* border-radius: 10px; */
    background-color: rgba(87, 156, 221, 0.7);
    font-size: 150%;
    
}
.item {
    align-self: center;

}
.ADD{
    float: right;
    border-bottom-right-radius: 10px;
}

.SUB{
    float: left;
    border-bottom-left-radius: 10px;
}

#loginbtn,#cartbtn  {
    width: 3%;
        border-radius: 50%;
    
    float: right;
    height: 150%;
    /* display: inline; */
} 

